

<h1 class="about">ABOUT</h1>
<div class="red-border">
     &nbsp;
</div>
<br>
<p class="aboutSchool">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget lorem vel ligula volutpat ultricies sit amet a nibh. Cras vitae tincidunt ipsum, quis varius libero. Nullam elementum facilisis neque nec tristique. Curabitur ac mollis magna. Donec et ultricies erat. Donec nec luctus risus, in molestie ex. Duis viverra placerat lectus at interdum. Morbi dui ligula, dictum et quam et, gravida consectetur sapien. Nulla interdum felis eu dolor posuere condimentum. Mauris nec tristique felis, quis rutrum eros. Nunc dignissim finibus justo non egestas. Sed rutrum ultricies eros, quis eleifend mauris consequat a. In in congue massa, in consectetur massa. Proin et nunc erat. Cras porta dolor ut arcu dapibus, rhoncus pellentesque nulla faucibus.

Maecenas ut libero ut odio feugiat pretium. Proin iaculis sed arcu sed condimentum. Etiam congue odio vel leo vestibulum, eu auctor nunc sodales. Aenean iaculis hendrerit placerat. Mauris mattis vel leo a malesuada. Etiam at ligula et quam porta sagittis. Quisque at imperdiet quam. Nam id ultricies turpis. Sed velit velit, egestas at quam pellentesque, sollicitudin pretium velit.</p>