
  <link rel="stylesheet" href="/stylesheets/contacts.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <div class="middle">
      <a class="btn" href="https://pt-pt.facebook.com/theironhack/">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn" href="https://twitter.com/ironhack">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn" href="https://www.instagram.com/ironhacklisb/">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn" href="https://www.ironhack.com/pt">
        <i class="fab fa-">WWW</i>
      </a>
      </div>