
    <form class="box" action="/auth/signup" method="post">
    <h1 class="rainbow">Signup</h1>
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="firstName" placeholder="first name">
    <input type="text" name="lastName" placeholder="last name">
    <input type="text" name="duty" placeholder="duty">
    {{!-- <form action="/upload2" method="post" enctype="multipart/form-data"> --}}
    {{!-- <input type="file" name="photo"> --}}
    {{!-- </form> --}}
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="" value="Create account">
    <br>
  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
  </form>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

 


