
    <form class="box" action="index.html" method="post">
    <h1 class="rainbow">Signup</h1>
    <input type="text" name="" placeholder="Username">
    <input type="password" name="" placeholder="Password">
    <input type="submit" name="" value="Create account">
    <br>
  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
  </form>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

 


