

 <link rel="stylesheet" href="/stylesheets/swiper.min.css">
 <link rel="stylesheet" href="/stylesheets/students.css">

  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{#each users}}
      <div class="swiper-slide">
      <div class="imgBx">
        <img src="{{photo}}" alt="">
      </div>
      <div class="details">
        <h3>{{firstName}}{{lastName}}<br><span>{{duty}}</span></h3>
      </div>
    </div>
    {{/each}}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  
  <!-- Swiper JS -->
  <script  src="/javascripts/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>
